/* Wrapper aligns all text left */
.MMM-RecipeReader-wrapper {
    text-align: left;
  }
  
  /* Title styling */
  .MMM-RecipeReader-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  /* Image + ingredients container (side-by-side) */
  .MMM-RecipeReader-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* Image styling */
  .MMM-RecipeReader-image {
    width: auto;
    height: auto;
    flex-shrink: 0;
    max-height: 500px;
    max-width:300px;
  }
  
  /* Ingredient list */
  .MMM-RecipeReader-ingredients {
    padding-left: 20px;
    margin: 0;
    list-style-position: inside;
  }

  /* Instructions block */
  .MMM-RecipeReader-instructions {
    margin-top: 20px;
    font-size: 1em;
  }
  
  .MMM-RecipeReader-scrollContainer {
    max-height: 95vh;
    overflow-y: auto;
  }
  
  .MMM-RecipeReader-overflowMsg {
    position: sticky;
    top: 0;
    background: black;
    color: #ffcc00;
    z-index: 1;
    padding: 5px;
    text-align: center;
  }